@import url("assets/font/Norse-Bold.otf");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    height: 100vh;
}

.left-side {
    background-image: url(assets/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-side p, .left-side a {
    color: white;
    font-size: .85rem;
}

.logo-container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-container img {
    height: 150px;
    padding: 15px 0;
}

.logo-container span {
    font-size: 6rem;
    font-weight: bold;
    font-family: norse;
    position: relative;
    top: 15px;
}